@model IEnumerable<dotNET_Project.Models.Post>

@{
    ViewData["Title"] = "Home";
}

<div>
    <a asp-action="CreatePost" style="color:white">
        <div class="create">
            <p class="a-create">
                Create New Post
            </p>
        </div>
    </a>
</div>


@foreach (var item in Model)
{

    <div class="align-content-center">
        <div class="align-content-center, text-center">
            <h3>@nameof(item.Title): @Html.DisplayFor(modelItem => item.Title)</h3>
        </div>
        <div class="align-content-center, text-center">
            <h4>@nameof(item.Topic): @Html.DisplayFor(modelItem => item.Topic.Name)</h4>
        </div>
        <div class="align-content-center, text-center">
            @Html.DisplayFor(modelItem => item.Content)
        </div>
        <div class="align-content-center, text-center">
            <span>
                Post has been written by @Html.DisplayFor(modelItem => item.User.Nickname) at @Html.DisplayFor(modelItem => item.DateTime)
            </span>
        </div>
        <div class="align-content-center, text-center" style="background-color: black;">
            @if (TempData["role"] == "admin" || User.Identity.Name == item.User.UserName)
            {
                <a asp-action="EditPost" asp-route-id="@item.Id" style="color:white">Edit Post</a>
                <span>|</span>
                <a asp-action = "DeletePost" asp-route-id = "@item.Id" style = "color:white" > Delete Post </a> 
                <span>|</span>
            }
            <a asp-action="ListComments" asp-route-id="@item.Id" style="color:white">Show Comments</a>
        </div>
    </div>
}
