@model IEnumerable<dotNET_Project.Models.Comment>

@{
    ViewData["Title"] = "ListComments";
}

<h1>@Model.FirstOrDefault().Post.Title</h1>
<h1>@Model.FirstOrDefault().Post.Topic.Name</h1>
<h1>@Model.FirstOrDefault().Post.Content</h1>

<p>
    <a asp-action="CreateComment" asp-route-PostID="@ViewBag.PostID">Create New </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="EditComment" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteComment" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
